*{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: rgb(131, 183, 226);
}

main{
    width: 80%;
    text-align: center;
    margin: auto;
    display: block;
}

h1{
    font-size: 36px;
    font-weight: bold;
    font-style: unset;
    margin: 10px;
}

h1:hover{
    scale: 1.1;
    transition: 1s all;
}

#Mensaje-Final{
    font-size: 22px;
    font-weight: bold;
    margin: 5px;
    text-decoration:underline;
    text-transform: uppercase;
    letter-spacing: 5px;
    display: inline-block;
    float: right;
    color:red;
}

.mensaje-bienvenida{
    font-size: 22px;
    font-weight: lighter;
    color: #eee;
    margin: 20px auto;
    text-align: justify;
}

canvas{
    width: 50%;
    border: none;
    margin: 2% auto;
    height: 500px;
}

#letras{
    border:none;
    width: 90%;
    height: 300px;
    margin: 1% auto;
}

.letras-correctas{
    border: none;
    height: 60%;
}

.letra-correcta{
    border: none;
    border-bottom: 2px solid rgb(48, 39, 129);
    background-color: rgb(131, 183, 226);
    height: 50%;
    font-size: 30px;
    text-align: center;
    margin: 5% 5px;
    width: calc(90% / 9); /*Tomarlo en cuenta al crear los inputs*/
}

.letras-incorrectas{
    height: 20%;
    margin: 4% 1%;
}

.letra-incorrecta{
    width: 100%;
    height: 100%;
    font-size: 26px;
    font-weight: lighter;
    text-align: center;
    border: none;
    background-color: rgb(131, 183, 226);;
}

#text-nueva-palabra{
    border: 1px solid #000;
    resize: none;
    background-color: rgb(131,183,226);
    margin: 2%;
    width: 50%;
    height: 300px;
}

#text-nueva-palabra:hover{
    outline: none;
}

.advertencia{
    margin: 5px;
}

.btn{
    width: 20%;
    border-radius: 20px;
    font-weight: bold;
    font-size: 20px;
    margin: auto 2%;
    border: none;
    padding: 10px;
    cursor: pointer;
}

.btn-azul{
    background-color: rgb(44, 91, 156);
    color: white;
}

.btn-azul:hover{
    background-color: dodgerblue;
    transition: 0.5s all;
    scale: 1.1;
}

.btn-blanco{
    background-color: rgb(182, 203, 236);
}

.btn-blanco:hover{
    background-color: antiquewhite;
    transition: 0.5s all;
    scale: 1.1;
}

.inicio{
    display: inline-block;
    margin: 50px;
    text-align: center;
    align-items: center;
    align-self: center;
}

footer{
    background-color: rgba(100, 100, 200, .5);
    margin: 5% auto;
}

footer p{
    font-size: 22px;
    text-align: center;
    text-decoration: underline;
    color:rgb(44, 91, 156);
    margin: 2%;
    letter-spacing: 5px;
    width: 90%;
}

footer p:hover{
    scale: 1.1;
    transition: .5s all;
}

@media screen and (max-width: 520px) {
    main{
        width: 95%;
    }
    
    .letra-incorrecta{
       font-size: 16px; 
    }

    canvas{
        width: 80%;
        border: none;
        margin: 2% auto;
        height: 200px;
    }

    #text-nueva-palabra{
        width: 90%;
        height: 100px;
    }

    .letras-correctas{
        border: none;
        width: 100%;
    }
    

    .letra-correcta{
        text-align: center;
        width: calc(70% / 10); /*Tomarlo en cuenta al crear los inputs*/
    }

    .btn{
        width: 40%;
        border-radius: 20px;
        font-size: 14px;
        margin: 1% auto;
    }

    .letras-incorrectas{
        height: 10%;
        margin: 1% 1%;
    }
    
    .letra-incorrecta{
        width:80%;
        height: 50%;
        font-size: 26px;
        font-weight: lighter;
    }
    
    
}